<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'Communication/styles.css' %}"/>
</head>
<body>
<img class="rezise" src="{%static 'Communication/dortmund_logo.jpg' %}">
<hr/>
<h1>Haben Sie einen Vorschlag für uns?</h1>
	<form method="post">
	
		{% csrf_token %}
		<div class="Format">
		{% for field in form%}
		<br> {{ field }} <br>
		{% endfor %}
		</div>
		<button id="Senden" type="submit"> Senden </button>
	</form>
</body>
</html>